<table>
  <thead>
  <tr>
    <th>Nome</th>
    <th>CPF</th>
    <th>E-mail</th>
    <th>Telefone</th>
    <th>Quantidade de Clientes</th>
    <th>Saldos Positivos</th>
    <th>Saldos Negativos</th>
    <th>
      <a [routerLink]="['/admin/gerente']" href="#" class="btn btn-outline-success">
        <i class="fa fa-plus" aria-hidden="true"></i>
        Novo
      </a>
    </th>
  </tr>
  </thead>
  <tbody *ngIf="(managers$ | async) as managers; else loading">
  <tr *ngFor="let manager of managers">
    <td>{{manager.name}} </td>
    <td>{{manager.cpf}}</td>
    <td>{{manager.email}} </td>
    <td>{{manager.phonenumber}}</td>
    <td>{{manager.clientsTotal}}</td>
    <td>{{manager.positiveBalanceTotal}}</td>
    <td>{{manager.negativeBalanceTotal}}</td>
    <td>
      <a [routerLink]="['/admin/gerente', manager.id]" href="#" class="btn btn-outline-info">
        <i class="fa fa-edit" aria-hidden="true"></i>
        Editar
      </a>
      <button class="btn btn-outline-danger" (click)="disableManager($event, manager.id)">
        <i class="fa fa-times" aria-hidden="true"></i>
        Excluir
      </button>
    </td>
  </tr>
  </tbody>
  <ng-template #loading>
    <p>Nenhum gerente no momento.</p>
  </ng-template>
</table>
