<section class="vh-100">
  <div class="container-fluid">
    <div class="row">
      <div class="col-5 text-black">
        <header class="px-5 ms-xl-4 mt-5">
          <i class="fa fa-bank fa-2x me-3"></i>
          <span class="h2">BANTADS</span>
        </header>
        <hr>
        <div class="d-flex align-items-center h-custom-2 px-5 ms-xl-4 mt-4">
          <form #formLogin="ngForm" class="form-login">
            <h4 class="fw-normal mb-3 text-center">Acesse sua conta</h4>
            <div *ngIf="isErrorMessageVisible" [class]="alertStyle">
              {{ errorMessage }}
            </div>
            <div class="form-outline mb-3">
              <label class="form-label" for="email">E-mail <span class="text-danger">*</span></label>
              <input type="email"
                     id="email"
                     name="email"
                     placeholder="seuemail@email.com"
                     [(ngModel)]="login.email"
                     #email="ngModel" required
                     class="form-control"/>
              <div *ngIf="email.errors && (email.dirty || email.touched)" class="alert alert-danger mt-2">
                <span [hidden]="!email.errors['required']">Insira seu e-mail</span>
              </div>
            </div>
            <div class="form-outline mb-3">
              <label class="form-label" for="senha">Senha <span class="text-danger">*</span></label>
              <input type="password"
                     id="senha"
                     name="senha"
                     placeholder="Senha"
                     [(ngModel)]="login.password"
                     #senha="ngModel" required
                     class="form-control"/>
              <div *ngIf="senha.errors && (senha.dirty || senha.touched)" class="alert alert-danger mt-2">
                <span [hidden]="!senha.errors['required']">Insira sua senha</span>
              </div>
            </div>
            <div class="mb-4">
              <button class="btn btn-success w-100" type="submit" (click)="authenticate()"
                      [disabled]="!formLogin.form.valid || isLoading">
                <span *ngIf="!isLoading">Acessar</span>
                <div *ngIf="isLoading">
                  <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                  Entrando...
                </div>
              </button>
            </div>
            <p class="text-muted">
              Não possui uma conta?
              <a href="#" class="link-info" [routerLink]="['/cadastro']">Solicite a abertura!</a>
            </p>
          </form>
        </div>
      </div>
      <div class="col-7 px-0 d-none d-sm-block">
        <img src="https://cdn.pixabay.com/photo/2020/08/09/14/25/business-5475660_960_720.jpg" alt="Login image"
             class="w-100 vh-100 image-login">
      </div>
    </div>
  </div>
</section>
