<div class="container d-flex justify-content-center align-items-center">
  <div class="col-md-6 col-md-offset-6">
    <form #formAlterarPerfil="ngForm">
      <h2 class="my-3 text-center">Atualizar Perfil</h2>
      <hr>
      <div class="row mb-3">
        <div class="col">
          <input type="email" class="form-control" id="email" name="email" [(ngModel)]="cliente.email" #email="ngModel"
            placeholder="E-mail" required>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-7">
          <input type="text" class="form-control" id="nome" name="nome" [(ngModel)]="cliente.nome" #nome="ngModel"
            placeholder="Nome" required>
        </div>
        <div class="col">
          <input type="text" class="form-control" id="CPF" name="CPF" [value]="cliente.CPF ? (cliente.CPF | cpf) : null"
            readonly>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col">
          <input type="text" class="form-control" id="telefone" name="telefone" [(ngModel)]="cliente.telefone"
            mask="(00) 00000-0000" #telefone="ngModel" placeholder="Telefone" required>
        </div>
        <div class="col input-group">
          <span class="input-group-text">R$</span>
          <input currencyMask [options]="{ prefix: '', thousands: '.', decimal: ',', nullable: true }"
            type="text" class="form-control" id="salario" name="salario" [(ngModel)]="cliente.salario"
            #salario="ngModel" placeholder="Renda Mensal" required>
        </div>
      </div>
      <hr>
      <div class="row mb-3">
        <div class="col">
          <select name="estado" class="form-select" [(ngModel)]="cliente.endereco?.cidade?.estado!.id">
            <option value disabled>Selecione um estado</option>
            <option *ngFor="let estado of estados$ | async" [value]="estado.id"
              [selected]="estado.id === cliente.endereco?.cidade?.estado?.id">
              {{estado.nome}}
            </option>
          </select>
        </div>
        <div class="col">
          <select name="cidade" class="form-select" [(ngModel)]="cliente.endereco?.cidade!.id">
            <option value disabled>Selecione uma cidade</option>
            <option *ngFor="let cidade of cidades$ | async" [value]="cidade.id"
              [selected]="cidade.id === cliente.endereco?.cidade?.id">
              {{cidade.municipio}}
            </option>
          </select>
        </div>
      </div>
      <div class="row mb-3 form-group">
        <p class="col">Tipo do Logradouro:</p>
        <div class="col">
          <div class="form-check">
            <input type="radio" name="tipo" id="tipo1" class="form-check-input"
              [(ngModel)]="cliente.endereco!.tipoEndereco" #tipo1="ngModel" value="Rua">
            <label for="tipo1" class="form-check-label">Rua</label>
          </div>
          <div class="form-check">
            <input type="radio" name="tipo" id="tipo2" class="form-check-input"
              [(ngModel)]="cliente.endereco!.tipoEndereco" #tipo2="ngModel" value="Avenida">
            <label for="tipo2" class="form-check-label">Avenida</label>
          </div>
          <div class="form-check">
            <input type="radio" name="tipo" id="tipo3" class="form-check-input"
              [(ngModel)]="cliente.endereco!.tipoEndereco" #tipo3="ngModel" value="Travessa">
            <label for="tipo3" class="form-check-label">Travessa</label>
          </div>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-8">
          <input type="text" class="form-control" id="logradouro" name="logradouro"
            [(ngModel)]="cliente.endereco!.logradouro" #logradouro="ngModel" placeholder="Logradouro" required>
        </div>
        <div class="col-4">
          <input type="number" class="form-control" id="numero" name="numero" [(ngModel)]="cliente.endereco!.numero"
            #numero="ngModel" placeholder="Número" required>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col">
          <input type="text" class="form-control" id="complemento" name="complemento"
            [(ngModel)]="cliente.endereco!.complemento" #complemento="ngModel" placeholder="Complemento">
        </div>
        <div class="col">
          <input type="text" class="form-control" id="bairro" name="bairro" [(ngModel)]="cliente.endereco!.bairro"
            #bairro="ngModel" placeholder="Bairro" required>
        </div>
        <div class="col">
          <input type="text" class="form-control" id="CEP" name="CEP" [(ngModel)]="cliente.endereco!.CEP" #CEP="ngModel"
            mask="00000-000" placeholder="CEP" required>
        </div>
      </div>
      <hr>
      <div class="col-12 text-end">
        <a class="btn btn-secondary mx-2" type="button" [routerLink]="['/cliente']">
          <i class="fa fa-arrow-left" aria-hidden="true"></i>
          Voltar
        </a>
        <button class="btn btn-success" (click)="atualizar()" [disabled]="!formAlterarPerfil.form.valid">
          <i class="fa fa-save" aria-hidden="true"></i>
          Atualizar
        </button>
      </div>
    </form>
  </div>
</div>
