<div class="container d-flex justify-content-center align-items-center">
  <div class="col-md-6 col-md-offset-6">
    <form #formAlterarPerfil="ngForm">
      <h2 class="my-3 text-center">Atualizar Perfil</h2>
      <hr>
      <div class="row mb-3">
        <div class="col">
          <input type="email" class="form-control" id="email" name="email" [(ngModel)]="cliente.email" #email="ngModel"
            placeholder="E-mail" required minlength="3">
          <div *ngIf="email.errors && (email.dirty || email.touched)" class="alert alert-danger">
            <div [hidden]="!email.errors['required']">Informe um email.</div>
            <div [hidden]="!email.errors['minlength']">O email precisa ter no mínimo 3 caracteres.</div>
          </div>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-7">
          <input type="text" class="form-control" id="nome" name="nome" [(ngModel)]="cliente.nome" #nome="ngModel"
            placeholder="Nome" required minlength="6">
          <div *ngIf="nome.errors && (nome.dirty || nome.touched)" class="alert alert-danger">
            <div [hidden]="!nome.errors['required']">Informe o nome.</div>
            <div [hidden]="!nome.errors['minlength']">O nome precisa ter no mínimo 6 caracteres.</div>
          </div>
        </div>
        <div class="col">
          <input type="text" class="form-control" id="CPF" name="CPF" [value]="cliente.CPF ? (cliente.CPF | cpf) : null"
            readonly>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col">
          <input type="text" class="form-control" id="telefone" name="telefone" [(ngModel)]="cliente.telefone"
            mask="(00) 00000-0000" #telefone="ngModel" placeholder="Telefone" required>
          <div *ngIf="telefone.errors && (telefone.dirty || telefone.touched)" class="alert alert-danger">
            <div [hidden]="!telefone.errors['required']">Informe um telefone.</div>
          </div>
        </div>
        <div class="col">
          <div class="input-group">
            <span class="input-group-text">R$</span>
            <input currencyMask [options]="{ prefix: '', thousands: '.', decimal: ',', nullable: true }" type="text"
              class="form-control" id="salario" name="salario" [(ngModel)]="cliente.salario" #salario="ngModel"
              placeholder="Renda Mensal" required>
          </div>
          <div *ngIf="salario.errors && (salario.dirty || salario.touched)" class="alert alert-danger">
            <div [hidden]="!salario.errors['required']">Informe a renda.</div>
          </div>
        </div>
      </div>
      <hr>
      <div class="row mb-3">
        <div class="col">
          <select name="estado" id="estado" #estado="ngModel" class="form-select"
            [(ngModel)]="cliente.endereco?.cidade?.estado!.id" required>
            <option value disabled>Selecione um estado</option>
            <option *ngFor="let estado of estados$ | async" [value]="estado.id"
              [selected]="estado.id === cliente.endereco?.cidade?.estado?.id">
              {{estado.nome}}
            </option>
          </select>
          <div *ngIf="estado.errors && (estado.dirty || estado.touched)" class="alert alert-danger">
            <div [hidden]="!estado.errors['required']">Selecione um estado.</div>
          </div>
        </div>
        <div class="col">
          <select name="cidade" id="cidade" #cidade="ngModel" class="form-select"
            [(ngModel)]="cliente.endereco?.cidade!.id" required>
            <option value disabled>Selecione uma cidade</option>
            <option *ngFor="let cidade of cidades$ | async" [value]="cidade.id"
              [selected]="cidade.id === cliente.endereco?.cidade?.id">
              {{cidade.municipio}}
            </option>
          </select>
          <div *ngIf="cidade.errors && (cidade.dirty || cidade.touched)" class="alert alert-danger">
            <div [hidden]="!cidade.errors['required']">Selecione uma cidade.</div>
          </div>
        </div>
      </div>
      <div class="row mb-3 form-group">
        <p class="col">Tipo do Logradouro:</p>
        <div class="col">
          <div class="form-check">
            <input type="radio" name="tipo" id="tipo1" class="form-check-input"
              [(ngModel)]="cliente.endereco!.tipoEndereco" #tipo1="ngModel" value="Rua">
            <label for="tipo1" class="form-check-label">Rua</label>
          </div>
          <div class="form-check">
            <input type="radio" name="tipo" id="tipo2" class="form-check-input"
              [(ngModel)]="cliente.endereco!.tipoEndereco" #tipo2="ngModel" value="Avenida">
            <label for="tipo2" class="form-check-label">Avenida</label>
          </div>
          <div class="form-check">
            <input type="radio" name="tipo" id="tipo3" class="form-check-input"
              [(ngModel)]="cliente.endereco!.tipoEndereco" #tipo3="ngModel" value="Travessa">
            <label for="tipo3" class="form-check-label">Travessa</label>
          </div>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-8">
          <input type="text" class="form-control" id="logradouro" name="logradouro"
            [(ngModel)]="cliente.endereco!.logradouro" #logradouro="ngModel" placeholder="Logradouro" required
            minlength="6">
          <div *ngIf="logradouro.errors && (logradouro.dirty || logradouro.touched)" class="alert alert-danger">
            <div [hidden]="!logradouro.errors['required']">Insira um logradouro.</div>
            <div [hidden]="!logradouro.errors['minlength']">O logradouro precisa ter no mínimo 6 caracteres.</div>
          </div>
        </div>
        <div class="col-4">
          <input type="number" class="form-control" id="numero" name="numero" [(ngModel)]="cliente.endereco!.numero"
            #numero="ngModel" placeholder="Número" required>
          <div *ngIf="numero.errors && (numero.dirty || numero.touched)" class="alert alert-danger">
            <div [hidden]="!numero.errors['required']">Insira um número.</div>
          </div>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col">
          <input type="text" class="form-control" id="complemento" name="complemento"
            [(ngModel)]="cliente.endereco!.complemento" #complemento="ngModel" placeholder="Complemento">
        </div>
        <div class="col">
          <input type="text" class="form-control" id="bairro" name="bairro" [(ngModel)]="cliente.endereco!.bairro"
            #bairro="ngModel" placeholder="Bairro" required minlength="4">
          <div *ngIf="bairro.errors && (bairro.dirty || bairro.touched)" class="alert alert-danger">
            <div [hidden]="!bairro.errors['required']">Insira um bairro.</div>
            <div [hidden]="!bairro.errors['minlength']">O bairro precisa ter no mínimo 4 caracteres.</div>
          </div>
        </div>
        <div class="col">
          <input type="text" class="form-control" id="CEP" name="CEP" [(ngModel)]="cliente.endereco!.CEP" #CEP="ngModel"
            mask="00000-000" placeholder="CEP" required>
          <div *ngIf="CEP.errors && (CEP.dirty || CEP.touched)" class="alert alert-danger">
            <div [hidden]="!CEP.errors['required']">Insira o CEP.</div>
          </div>
        </div>
      </div>
      <hr>
      <div class="col-12 text-end">
        <a class="btn btn-secondary mx-2" type="button" [routerLink]="['/cliente']">
          <i class="fa fa-arrow-left" aria-hidden="true"></i>
          Voltar
        </a>
        <button class="btn btn-success" (click)="atualizar()" [disabled]="!formAlterarPerfil.form.valid">
          <i class="fa fa-save" aria-hidden="true"></i>
          Atualizar
        </button>
      </div>
    </form>
  </div>
</div>
