<h1 *ngIf="!isUpdate">Novo Gerente</h1>
<h1 *ngIf="isUpdate">Editar Gerente</h1>
<form [formGroup]="managerForm">
  <label for="managerName">Nome</label>
  <input formControlName="name" type="text" class="form-control" id="managerName"
         placeholder="Nome do Gerente">
  <label for="email">Email</label>
  <input formControlName="email" class="form-control" id="email" placeholder="E-mail">
  <label for="cpf">CPF</label>
  <div *ngIf="!isUpdate">
    <input class="form-control" id="cpf" formControlName="cpf"
           mask="000.000.000.00">
  </div>
  <div *ngIf="isUpdate">
    <input class="form-control" id="cpf" value="teste" readonly>
  </div>
  <label for="phonenumber">Telefone</label>
  <input class="form-control" id="phonenumber" placeholder="Telefone" formControlName="phonenumber"
         mask="(00) 00000-0000">
  <div class="form-group mt-4">
    <a class="btn btn-secondary mx-2" [routerLink]="['/admin/gerentes']">
      <i class="fa fa-arrow-left" aria-hidden="true"></i>Voltar
    </a>
    <button (click)="save()" [disabled]="managerForm.invalid" type="button" class="btn btn-primary">
      <i class="fa fa-save" aria-hidden="true"></i>Salvar
    </button>
  </div>
</form>
