<section class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark vh-100" >
  <a routerLink="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
    <span class="fs-4">
      <i class="fa-solid fa-building-columns"></i>
      BANTADS
    </span>
  </a>
  <hr>
  <ul ngbNav [(activeId)]="activeId" class="nav nav-pills flex-column mb-auto">
    <li *ngFor="let route of avaliableNavRoutes" ngbNavItem="">
      <a href="#" ngbNavLink class="text-white" [routerLink]="[route.route]">
        <i [class]="route.icon"></i>
        {{route.description}}
      </a>
    </li>
  </ul>
  <hr>
  <ul ngbNav [(activeId)]="activeId" class="nav nav-pills flex-column d-flex">
    <li ngbNavItem="">
      <a (click)="logout()" ngbNavLink class="text-white">
        <i class="fa-solid fa-arrow-right-from-bracket"></i>
        Sair
      </a>
    </li>
  </ul>
</section>

