<div class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark" style="width: 280px;">
  <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
    <svg class="bi pe-none me-2" width="40" height="32"></svg>
    <span class="fs-4">Sidebar</span>
  </a>
  <hr>
  <ul ngbNav [(activeId)]="activeId" class="nav nav-pills flex-column mb-auto">
    <li ngbNavItem="">
      <a href="#" ngbNavLink class="text-white" aria-current="page">
        <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#home"/></svg>
        Home
      </a>
    </li>
    <li ngbNavItem="">
      <a href="#" ngbNavLink class="text-white">
        <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#speedometer2"/></svg>
        Dashboard
      </a>
    </li>
    <li ngbNavItem="">
      <a href="#" ngbNavLink class="text-white">
        <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#table"/></svg>
        Orders
      </a>
    </li>
    <li ngbNavItem="">
      <a href="#" ngbNavLink class="text-white">
        <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#grid"/></svg>
        Products
      </a>
    </li>
    <li ngbNavItem="">
      <a href="#" ngbNavLink class="text-white">
        <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#people-circle"/></svg>
        Customers
      </a>
    </li>
  </ul>
  <hr>
  <div ngbDropdown>
    <a id="dropdownConfig" class="d-flex align-items-center text-white text-decoration-none" ngbDropdownToggle>
      <strong>Menu</strong>
    </a>
    <ul ngbDropdownMenu class="dropdown-menu-dark text-small shadow">
      <li><a ngbDropdownItem href="#">New project...</a></li>
      <li><a ngbDropdownItem href="#">Settings</a></li>
      <li><a ngbDropdownItem href="#">Profile</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a ngbDropdownItem href="#">Sign out</a></li>
    </ul>
  </div>
</div>
<router-outlet></router-outlet>
