<nav class="navbar navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            BANTADS
        </a>
    </div>
</nav><br>

<div class="container">
    <div class="col-md-6 col-md-offset-6">
        <h2>Melhores Clientes</h2>
        <table class="table">
            <thead class="bg-secondary">
              <tr>
                <th scope="col">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck1">
                        <label class="custom-control-label" for="customCheck1"></label>
                    </div>
                </th>
                <th scope="col" class="text-light">#</th>
                <th scope="col" class="text-light">CPF</th>
                <th scope="col" class="text-light">Nome</th>
                <th scope="col" class="text-light">Cidade</th>
                <th scope="col" class="text-light">Estado</th>
                <th scope="col" class="text-light">Saldo</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck1">
                        <label class="custom-control-label" for="customCheck1"></label>
                    </div>
                </td>
                <th scope="row">1</th>
                <td>999.999.999-99</td>
                <td>Pedro da Silva</td>
                <td>Curitiba</td>
                <td>Paraná</td>
                <td>55000.00</td>
              </tr>
              <tr>
                <td>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck2">
                        <label class="custom-control-label" for="customCheck1"></label>
                    </div>
                </td>
                <th scope="row">2</th>
                <td>999.999.999-99</td>
                <td>Joaozinho dos Santos</td>
                <td>Curitiba</td>
                <td>Paraná</td>
                <td>30000.00</td>
              </tr>
              <tr>
                <td>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck4">
                        <label class="custom-control-label" for="customCheck1"></label>
                    </div>
                </td>
                <th scope="row">3</th>
                <td>999.999.999-99</td>
                <td>Gabriel dos Santos</td>
                <td>Pinhais</td>
                <td>Paraná</td>
                <td>15000.00</td>
              </tr>
              <tr>
                <td>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck5">
                        <label class="custom-control-label" for="customCheck1"></label>
                    </div>
                </td>
                <th scope="row">4</th>
                <td>999.999.999-99</td>
                <td>Aloisio Fernando</td>
                <td>Araucaria</td>
                <td>Paraná</td>
                <td>500.00</td>
              </tr>
              <tr>
                <td>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck6">
                        <label class="custom-control-label" for="customCheck1"></label>
                    </div>
                </td>
                <th scope="row">5</th>
                <td>999.999.999-99</td>
                <td>Vinicius Duarte</td>
                <td>Curitiba</td>
                <td>Paraná</td>
                <td>250.00</td>
              </tr>
            </tbody>
          </table>
          
    </div>
</div>


 