<nav class="navbar navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            BANTADS
        </a>
    </div>
</nav><br>

<div class="container">
    <div class="col-md-6 col-md-offset-6">
        <form>
            <h2>Cadastro Pessoal</h2>
            <br>
            <div class="row">
                <div class="col">
                    <input type="text" class="form-control" placeholder="Nome">
                </div>
                <div class="col">
                    <input type="text" class="form-control" placeholder="Sobrenome">
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col">
                    <input type="text" class="form-control" placeholder="E-mail">
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm">
                    <input type="text" class="form-control" placeholder="CPF">
                </div>
                <div class="col-sm">
                    <input type="text" class="form-control" placeholder="Telefone">
                </div>
            </div><br>
            <div class="row">
                <div class="col">
                    <select class="form-select" aria-label="Default select example">
                        <option selected hidden>País</option>
                        <option value="AC">Brasil</option>
                        <option value="AL">Estados Unidos</option>
                        <option value="AP">França</option>
                        <option value="AM">Inglaterra</option>
                        <option value="BA">México</option>
                        <option value="CE">Portugual</option>
                        <option value="DF">Tunisia</option>
                    </select>
                </div>
                
                <div class="col">
                    <select class="form-select" aria-label="Default select example">
                        <option selected hidden>Estado</option>
                        <option value="AC">Acre</option>
                        <option value="AL">Alagoas</option>
                        <option value="AP">Amapá</option>
                        <option value="AM">Amazonas</option>
                        <option value="BA">Bahia</option>
                        <option value="CE">Ceará</option>
                        <option value="DF">Distrito Federal</option>
                        <option value="ES">Espírito Santo</option>
                        <option value="GO">Goiás</option>
                        <option value="MA">Maranhão</option>
                        <option value="MT">Mato Grosso</option>
                        <option value="MS">Mato Grosso do Sul</option>
                        <option value="MG">Minas Gerais</option>
                        <option value="PA">Pará</option>
                        <option value="PB">Paraíba</option>
                        <option value="PR">Paraná</option>
                        <option value="PE">Pernambuco</option>
                        <option value="PI">Piauí</option>
                        <option value="RJ">Rio de Janeiro</option>
                        <option value="RN">Rio Grande do Norte</option>
                        <option value="RS">Rio Grande do Sul</option>
                        <option value="RO">Rondônia</option>
                        <option value="RR">Roraima</option>
                        <option value="SC">Santa Catarina</option>
                        <option value="SP">São Paulo</option>
                        <option value="SE">Sergipe</option>
                        <option value="TO">Tocantins</option>
                    </select>
                </div><br>
                <div class="col">
                    <input type="text" class="form-control" placeholder="Cidade">
                </div>
            </div><br>
            <div class="row">
                <div class="col">
                    <input type="text" class="form-control" placeholder="Rua">
                </div>
            </div><br>
            <div class="row">
                <div class="col">
                    <input type="text" class="form-control" placeholder="Numero">
                </div>
                <div class="col">
                    <input type="text" class="form-control" placeholder="Complemento">
                </div>
                <div class="col">
                    <input type="text" class="form-control" placeholder="CEP">
                </div>
            </div><br>
            <div class="row">
                <div class="col">
                    <input type="text" class="form-control" placeholder="Profissão">
                </div>
                <div class="col">
                    <input type="text" class="form-control" placeholder="Renda Mensal">
                </div>
            </div><br>
            <div class="col-12">
                <button class="btn btn-secondary" type="button" style="margin: 0 15px;">Voltar</button>
                <button class="btn btn-success " type="submit">Cadastrar</button>
            </div>
        </form>
    </div>
</div>


 