mat-card {
  margin: 2rem auto;
  max-width: 30vw;
}

mat-card-content {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

form {
  display: flex;
  flex-direction: column;
}

mat-form-field {
  margin-top: 1rem;
}

button[type="submit"] {
  font-size: 1rem;
  width: auto;
  min-width: 25%;
  align-self: center;
  margin-top: 0.75rem;
}
