<div class="container d-flex justify-content-center align-items-center">
  <div class="col-md-10 col-md-offset-10">
    <h2 class="text-center my-3">
      <i class="fa-solid fa-people-group"></i>
      Clientes Atuais
    </h2>
    <hr>
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Busque pelo nome do cliente" [(ngModel)]="termoBusca">
      <span class="input-group-text">
        <i class="fa-solid fa-magnifying-glass"></i>
      </span>
    </div>
    <table class="table table-light table-striped table-hover table-bordered">
      <thead>
        <tr>
          <th class="text-center">
            <i class="fa-solid fa-hashtag"></i>
          </th>
          <th>
            <i class="fa-solid fa-signature"></i>
            Nome
          </th>
          <th>
            <i class="fa-solid fa-mountain-city"></i>
            Cidade
          </th>
          <th>
            <i class="fa-solid fa-flag"></i>
            Estado
          </th>
          <th>
            <i class="fa-solid fa-id-card"></i>
            CPF
          </th>
          <th>
            <i class="fa-solid fa-money-bill-trend-up"></i>
            Saldo
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cliente of clientes | buscarClientes: termoBusca; index as i">
          <th class="text-center">{{i + 1}}</th>
          <td>
            <a href="#" [routerLink]="['/gerente/clientes/' + cliente.id]">
              {{cliente.nome}}
            </a>
          </td>
          <td>{{cliente.endereco?.cidade?.municipio}}</td>
          <td>{{cliente.endereco?.cidade?.estado?.UF}}</td>
          <td>{{cliente.CPF ? (cliente.CPF | cpf) : null}}</td>
          <td>{{cliente.conta?.saldo | currency:'BRL':true:'2.2-2' }}</td>
        </tr>
      </tbody>
    </table>
    <p *ngIf="clientes.length === 0">Você não gerencia nenhum cliente no momento.</p>
  </div>
</div>
